.main {
  flex: 1;
  display: flex;
  min-width: 0;
  height: 100%;
  background: var(--db-bg-content);
}

.content {
  flex: 1;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
