.form {
  margin-bottom: 0;
}

.item {
  margin-bottom: 14px !important;
}

.item:last-child {
  margin-bottom: 0 !important;
}

.form :global(.ant-form-item-label > label) {
  font-size: 12px;
  font-weight: 600;
  color: var(--db-text-secondary);
  height: auto;
}

.form :global(.ant-form-item-extra) {
  font-size: 12px;
  margin-top: 4px;
}
